PicadoDental/PicadoDental/Connected Services/EF_PicadoDental_WS/EF_PicadoDental.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientList">
        <s:complexType />
      </s:element>
      <s:element name="ClientListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientListResult" type="tns:ArrayOfCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ClienteId" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonaId" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Citas" type="tns:ArrayOfCita" />
          <s:element minOccurs="0" maxOccurs="1" name="Persona" type="tns:Persona" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCita">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cita" nillable="true" type="tns:Cita" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cita">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CitaId" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="ClienteId" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="DoctorId" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaHora" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comentarios" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cliente" type="tns:Cliente" />
          <s:element minOccurs="0" maxOccurs="1" name="Doctor" type="tns:Doctor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Doctor">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DoctorId" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonaId" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioId" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Especialidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Citas" type="tns:ArrayOfCita" />
          <s:element minOccurs="0" maxOccurs="1" name="Persona" type="tns:Persona" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PersonaId" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimerApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SegundoApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GeneroId" nillable="true" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Admins" type="tns:ArrayOfAdmin" />
          <s:element minOccurs="0" maxOccurs="1" name="Clientes" type="tns:ArrayOfCliente" />
          <s:element minOccurs="0" maxOccurs="1" name="Doctors" type="tns:ArrayOfDoctor" />
          <s:element minOccurs="0" maxOccurs="1" name="Genero" type="tns:Genero" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAdmin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Admin" nillable="true" type="tns:Admin" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Admin">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AdminId" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonaId" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioId" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Persona" type="tns:Persona" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioId" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonaId" nillable="true" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Admins" type="tns:ArrayOfAdmin" />
          <s:element minOccurs="0" maxOccurs="1" name="Doctors" type="tns:ArrayOfDoctor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDoctor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Doctor" nillable="true" type="tns:Doctor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Genero">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GeneroId" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Descipcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Personas" type="tns:ArrayOfPersona" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPersona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Persona" nillable="true" type="tns:Persona" />
        </s:sequence>
      </s:complexType>
      <s:element name="NewClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="generoID" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModifyClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="personaId" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="generoID" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="NewAppointment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clienteId" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="doctorId" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaHora" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comentarios" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewAppointmentResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModifyAppointment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="citaId" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="doctorId" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaHora" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comentarios" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyAppointmentResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogInSoapIn">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="LogInSoapOut">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="ClientListSoapIn">
    <wsdl:part name="parameters" element="tns:ClientList" />
  </wsdl:message>
  <wsdl:message name="ClientListSoapOut">
    <wsdl:part name="parameters" element="tns:ClientListResponse" />
  </wsdl:message>
  <wsdl:message name="NewClientSoapIn">
    <wsdl:part name="parameters" element="tns:NewClient" />
  </wsdl:message>
  <wsdl:message name="NewClientSoapOut">
    <wsdl:part name="parameters" element="tns:NewClientResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyClientSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyClient" />
  </wsdl:message>
  <wsdl:message name="ModifyClientSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyClientResponse" />
  </wsdl:message>
  <wsdl:message name="NewAppointmentSoapIn">
    <wsdl:part name="parameters" element="tns:NewAppointment" />
  </wsdl:message>
  <wsdl:message name="NewAppointmentSoapOut">
    <wsdl:part name="parameters" element="tns:NewAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyAppointmentSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyAppointment" />
  </wsdl:message>
  <wsdl:message name="ModifyAppointmentSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyAppointmentResponse" />
  </wsdl:message>
  <wsdl:portType name="EF_PicadoDentalSoap">
    <wsdl:operation name="LogIn">
      <wsdl:input message="tns:LogInSoapIn" />
      <wsdl:output message="tns:LogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientList">
      <wsdl:input message="tns:ClientListSoapIn" />
      <wsdl:output message="tns:ClientListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewClient">
      <wsdl:input message="tns:NewClientSoapIn" />
      <wsdl:output message="tns:NewClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyClient">
      <wsdl:input message="tns:ModifyClientSoapIn" />
      <wsdl:output message="tns:ModifyClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewAppointment">
      <wsdl:input message="tns:NewAppointmentSoapIn" />
      <wsdl:output message="tns:NewAppointmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyAppointment">
      <wsdl:input message="tns:ModifyAppointmentSoapIn" />
      <wsdl:output message="tns:ModifyAppointmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EF_PicadoDentalSoap" type="tns:EF_PicadoDentalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientList">
      <soap:operation soapAction="http://tempuri.org/ClientList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewClient">
      <soap:operation soapAction="http://tempuri.org/NewClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyClient">
      <soap:operation soapAction="http://tempuri.org/ModifyClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewAppointment">
      <soap:operation soapAction="http://tempuri.org/NewAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyAppointment">
      <soap:operation soapAction="http://tempuri.org/ModifyAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EF_PicadoDentalSoap12" type="tns:EF_PicadoDentalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientList">
      <soap12:operation soapAction="http://tempuri.org/ClientList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewClient">
      <soap12:operation soapAction="http://tempuri.org/NewClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyClient">
      <soap12:operation soapAction="http://tempuri.org/ModifyClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewAppointment">
      <soap12:operation soapAction="http://tempuri.org/NewAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyAppointment">
      <soap12:operation soapAction="http://tempuri.org/ModifyAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EF_PicadoDental">
    <wsdl:port name="EF_PicadoDentalSoap" binding="tns:EF_PicadoDentalSoap">
      <soap:address location="http://localhost:52988/Service/EF_PicadoDental.asmx" />
    </wsdl:port>
    <wsdl:port name="EF_PicadoDentalSoap12" binding="tns:EF_PicadoDentalSoap12">
      <soap12:address location="http://localhost:52988/Service/EF_PicadoDental.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>