PicadoDental/PicadoDental/Connected Services/EF_PicadoDental_WS/EF_PicadoDental.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogInResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ClientList">
        <s:complexType />
      </s:element>
      <s:element name="ClientListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientListResult" type="tns:ArrayOfClientePOCO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClientePOCO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClientePOCO" nillable="true" type="tns:ClientePOCO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClientePOCO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ClienteID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonaID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cedula" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GeneroID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Genero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListaClientes">
        <s:complexType />
      </s:element>
      <s:element name="ListaClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaClientesResult" type="tns:ArrayOfCitaPOCO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCitaPOCO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CitaPOCO" nillable="true" type="tns:CitaPOCO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CitaPOCO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteApellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DoctorNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DoctorApellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Detalles" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ClienteID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DoctorTelefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DoctorCorreo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteTelefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteCorreo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comentarios" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CitaID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DoctorID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListaGenero">
        <s:complexType />
      </s:element>
      <s:element name="ListaGeneroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaGeneroResult" type="tns:ArrayOfClientePOCO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerInfoCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerInfoClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerInfoClienteResult" type="tns:ArrayOfClientePOCO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="generoID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cedula" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoCuentaID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewPersonResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModifyClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="personaId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="CitaList">
        <s:complexType />
      </s:element>
      <s:element name="CitaListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CitaListResult" type="tns:ArrayOfCitaPOCO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoctorList">
        <s:complexType />
      </s:element>
      <s:element name="DoctorListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoctorListResult" type="tns:ArrayOfDoctorPOCO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDoctorPOCO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DoctorPOCO" nillable="true" type="tns:DoctorPOCO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DoctorPOCO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cedula" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonaID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CitaListByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CitaListByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CitaListByIDResult" type="tns:ArrayOfCitaPOCO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaDoctores">
        <s:complexType />
      </s:element>
      <s:element name="ListaDoctoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaDoctoresResult" type="tns:ArrayOfCitaPOCO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewAppointment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clienteId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="doctorId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaHora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comentarios" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewAppointmentResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModifyAppointment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="citaId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="doctorId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaHora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comentarios" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyAppointmentResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogInSoapIn">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="LogInSoapOut">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="ClientListSoapIn">
    <wsdl:part name="parameters" element="tns:ClientList" />
  </wsdl:message>
  <wsdl:message name="ClientListSoapOut">
    <wsdl:part name="parameters" element="tns:ClientListResponse" />
  </wsdl:message>
  <wsdl:message name="ListaClientesSoapIn">
    <wsdl:part name="parameters" element="tns:ListaClientes" />
  </wsdl:message>
  <wsdl:message name="ListaClientesSoapOut">
    <wsdl:part name="parameters" element="tns:ListaClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ListaGeneroSoapIn">
    <wsdl:part name="parameters" element="tns:ListaGenero" />
  </wsdl:message>
  <wsdl:message name="ListaGeneroSoapOut">
    <wsdl:part name="parameters" element="tns:ListaGeneroResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerInfoClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerInfoCliente" />
  </wsdl:message>
  <wsdl:message name="ObtenerInfoClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerInfoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="NewPersonSoapIn">
    <wsdl:part name="parameters" element="tns:NewPerson" />
  </wsdl:message>
  <wsdl:message name="NewPersonSoapOut">
    <wsdl:part name="parameters" element="tns:NewPersonResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyClientSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyClient" />
  </wsdl:message>
  <wsdl:message name="ModifyClientSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyClientResponse" />
  </wsdl:message>
  <wsdl:message name="CitaListSoapIn">
    <wsdl:part name="parameters" element="tns:CitaList" />
  </wsdl:message>
  <wsdl:message name="CitaListSoapOut">
    <wsdl:part name="parameters" element="tns:CitaListResponse" />
  </wsdl:message>
  <wsdl:message name="DoctorListSoapIn">
    <wsdl:part name="parameters" element="tns:DoctorList" />
  </wsdl:message>
  <wsdl:message name="DoctorListSoapOut">
    <wsdl:part name="parameters" element="tns:DoctorListResponse" />
  </wsdl:message>
  <wsdl:message name="CitaListByIDSoapIn">
    <wsdl:part name="parameters" element="tns:CitaListByID" />
  </wsdl:message>
  <wsdl:message name="CitaListByIDSoapOut">
    <wsdl:part name="parameters" element="tns:CitaListByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ListaDoctoresSoapIn">
    <wsdl:part name="parameters" element="tns:ListaDoctores" />
  </wsdl:message>
  <wsdl:message name="ListaDoctoresSoapOut">
    <wsdl:part name="parameters" element="tns:ListaDoctoresResponse" />
  </wsdl:message>
  <wsdl:message name="NewAppointmentSoapIn">
    <wsdl:part name="parameters" element="tns:NewAppointment" />
  </wsdl:message>
  <wsdl:message name="NewAppointmentSoapOut">
    <wsdl:part name="parameters" element="tns:NewAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyAppointmentSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyAppointment" />
  </wsdl:message>
  <wsdl:message name="ModifyAppointmentSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyAppointmentResponse" />
  </wsdl:message>
  <wsdl:portType name="EF_PicadoDentalSoap">
    <wsdl:operation name="LogIn">
      <wsdl:input message="tns:LogInSoapIn" />
      <wsdl:output message="tns:LogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientList">
      <wsdl:input message="tns:ClientListSoapIn" />
      <wsdl:output message="tns:ClientListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaClientes">
      <wsdl:input message="tns:ListaClientesSoapIn" />
      <wsdl:output message="tns:ListaClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaGenero">
      <wsdl:input message="tns:ListaGeneroSoapIn" />
      <wsdl:output message="tns:ListaGeneroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerInfoCliente">
      <wsdl:input message="tns:ObtenerInfoClienteSoapIn" />
      <wsdl:output message="tns:ObtenerInfoClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewPerson">
      <wsdl:input message="tns:NewPersonSoapIn" />
      <wsdl:output message="tns:NewPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyClient">
      <wsdl:input message="tns:ModifyClientSoapIn" />
      <wsdl:output message="tns:ModifyClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CitaList">
      <wsdl:input message="tns:CitaListSoapIn" />
      <wsdl:output message="tns:CitaListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoctorList">
      <wsdl:input message="tns:DoctorListSoapIn" />
      <wsdl:output message="tns:DoctorListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CitaListByID">
      <wsdl:input message="tns:CitaListByIDSoapIn" />
      <wsdl:output message="tns:CitaListByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaDoctores">
      <wsdl:input message="tns:ListaDoctoresSoapIn" />
      <wsdl:output message="tns:ListaDoctoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewAppointment">
      <wsdl:input message="tns:NewAppointmentSoapIn" />
      <wsdl:output message="tns:NewAppointmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyAppointment">
      <wsdl:input message="tns:ModifyAppointmentSoapIn" />
      <wsdl:output message="tns:ModifyAppointmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EF_PicadoDentalSoap" type="tns:EF_PicadoDentalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientList">
      <soap:operation soapAction="http://tempuri.org/ClientList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaClientes">
      <soap:operation soapAction="http://tempuri.org/ListaClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaGenero">
      <soap:operation soapAction="http://tempuri.org/ListaGenero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInfoCliente">
      <soap:operation soapAction="http://tempuri.org/ObtenerInfoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPerson">
      <soap:operation soapAction="http://tempuri.org/NewPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyClient">
      <soap:operation soapAction="http://tempuri.org/ModifyClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CitaList">
      <soap:operation soapAction="http://tempuri.org/CitaList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoctorList">
      <soap:operation soapAction="http://tempuri.org/DoctorList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CitaListByID">
      <soap:operation soapAction="http://tempuri.org/CitaListByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaDoctores">
      <soap:operation soapAction="http://tempuri.org/ListaDoctores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewAppointment">
      <soap:operation soapAction="http://tempuri.org/NewAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyAppointment">
      <soap:operation soapAction="http://tempuri.org/ModifyAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EF_PicadoDentalSoap12" type="tns:EF_PicadoDentalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientList">
      <soap12:operation soapAction="http://tempuri.org/ClientList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaClientes">
      <soap12:operation soapAction="http://tempuri.org/ListaClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaGenero">
      <soap12:operation soapAction="http://tempuri.org/ListaGenero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInfoCliente">
      <soap12:operation soapAction="http://tempuri.org/ObtenerInfoCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPerson">
      <soap12:operation soapAction="http://tempuri.org/NewPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyClient">
      <soap12:operation soapAction="http://tempuri.org/ModifyClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CitaList">
      <soap12:operation soapAction="http://tempuri.org/CitaList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoctorList">
      <soap12:operation soapAction="http://tempuri.org/DoctorList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CitaListByID">
      <soap12:operation soapAction="http://tempuri.org/CitaListByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaDoctores">
      <soap12:operation soapAction="http://tempuri.org/ListaDoctores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewAppointment">
      <soap12:operation soapAction="http://tempuri.org/NewAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyAppointment">
      <soap12:operation soapAction="http://tempuri.org/ModifyAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EF_PicadoDental">
    <wsdl:port name="EF_PicadoDentalSoap" binding="tns:EF_PicadoDentalSoap">
      <soap:address location="http://localhost:52988/Service/EF_PicadoDental.asmx" />
    </wsdl:port>
    <wsdl:port name="EF_PicadoDentalSoap12" binding="tns:EF_PicadoDentalSoap12">
      <soap12:address location="http://localhost:52988/Service/EF_PicadoDental.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>