PicadoDental/PicadoDental/Connected Services/EF_PicadoDental/EF_PicadoDental.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ClientList">
        <s:complexType />
      </s:element>
      <s:element name="ClientListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientListResult" type="tns:ArrayOfCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ClienteID" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonaID" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Citas" type="tns:ArrayOfCita" />
          <s:element minOccurs="0" maxOccurs="1" name="Persona" type="tns:Persona" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCita">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cita" nillable="true" type="tns:Cita" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cita">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CitaID" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="ClienteID" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="AdminID" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Hora" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comentarios" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Admin" type="tns:Admin" />
          <s:element minOccurs="0" maxOccurs="1" name="Cliente" type="tns:Cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Admin">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AdminID" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonaID" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Persona" type="tns:Persona" />
          <s:element minOccurs="0" maxOccurs="1" name="Citas" type="tns:ArrayOfCita" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PersonaID" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimerApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SegundoApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GeneroID" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="Admins" type="tns:ArrayOfAdmin" />
          <s:element minOccurs="0" maxOccurs="1" name="Clientes" type="tns:ArrayOfCliente" />
          <s:element minOccurs="0" maxOccurs="1" name="Genero" type="tns:Genero" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAdmin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Admin" nillable="true" type="tns:Admin" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Genero">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GeneroID" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="DescGenero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Personas" type="tns:ArrayOfPersona" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPersona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Persona" nillable="true" type="tns:Persona" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ClientListSoapIn">
    <wsdl:part name="parameters" element="tns:ClientList" />
  </wsdl:message>
  <wsdl:message name="ClientListSoapOut">
    <wsdl:part name="parameters" element="tns:ClientListResponse" />
  </wsdl:message>
  <wsdl:portType name="EF_PicadoDentalSoap">
    <wsdl:operation name="ClientList">
      <wsdl:input message="tns:ClientListSoapIn" />
      <wsdl:output message="tns:ClientListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EF_PicadoDentalSoap" type="tns:EF_PicadoDentalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClientList">
      <soap:operation soapAction="http://tempuri.org/ClientList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EF_PicadoDentalSoap12" type="tns:EF_PicadoDentalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClientList">
      <soap12:operation soapAction="http://tempuri.org/ClientList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EF_PicadoDental">
    <wsdl:port name="EF_PicadoDentalSoap" binding="tns:EF_PicadoDentalSoap">
      <soap:address location="http://localhost:52988/Service/EF_PicadoDental.asmx" />
    </wsdl:port>
    <wsdl:port name="EF_PicadoDentalSoap12" binding="tns:EF_PicadoDentalSoap12">
      <soap12:address location="http://localhost:52988/Service/EF_PicadoDental.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>